header{
    background-color: rgba(230, 224, 224, 0.507);
}

.container{
    width: 80%;
    margin: 0 auto;
}

.form-container,
.todo-list-container{
    max-width: 600px;
    margin: auto;
    padding: 10px;
    position: relative;
}

.input-field{
    position: relative;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.input-field input{
    border: 0;
    width: 100%;
    padding-top: 20px;
    font-size: 16px;
    line-height: 1.5em;
    color: #686565;
    outline: none;
}

.input-field label{
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.534);
    border-bottom: 1px solid rgba(0, 0, 0, 0.39);
}

.input-field label::after{
    content: '';
    position: absolute;
    left: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #42ADC6;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.input-field input:focus + .label-name .content-name, 
.input-field input:valid + .label-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #42ADC6;
}

.input-field input:focus + .label-name::after, 
.input-field input:valid + .label-name::after{
    transform: translateX(0%);
}

.form-container .btn{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.2em;
    outline: none;
}

.btn-add{
    background-color: #337ab7;
}

.btn-add:hover{
    background-color: #286090;
}

.btn-edit{
    background-color: #2eb337;
}

.btn-edit:hover{
    background-color: #27942e;
}

.todo-list-container .task-title{
    padding: 0;
    margin: 10px 0 30px;
    text-align: center;
    color: #333232;
    font-weight:700 ;
    line-height: 1.56em;
}

.todo-list-container .empty-todo-title{
    padding: 0;
    margin: 10px 0 30px;
    text-align: center;
    color: #494848;
    font-weight:700 ;
    line-height: 1.56em;
}

.todo-item{
    list-style-type: none;
    position: relative;
    /* background-color:#ececec ; */
    border-bottom: 1px solid #02020265;
    color: #292929;
    margin-bottom: 15px;
    padding: 14px 10px 8px 0px;
    transition: all .1s ease-in-out;
}

.todo-item-text{
    margin: 0;
    height: 20px;
    cursor: pointer;
}

.completed-item{
    text-decoration: line-through;
    text-decoration-color: #970909c0;
}

.todo-icon{
    position: absolute;
    top: 14px;
    right: 5px;
}

.icon{
    margin: 0 8px;
    cursor: pointer;
}

.edit-icon{
    color: #2a9e31;
}
.edit-icon:hover{
    color: #27942e;
    font-size: 17px;
}

.delete-icon{
    color: #cc2626;
}
.delete-icon:hover{
    color:#dd1a1a;
    font-size: 17px;
}

.btn-clear-all{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color:#cc2626 ;
    position: absolute;
    right: 10px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.2em;
    outline: none;
}
.btn-clear-all:hover{
    background-color: #dd1a1a;
}


@media only screen and (max-width: 530px) {
    .container{
        width: 100%;
        margin: 0 auto
    }
    .todo-list-container{
        width: 100%;
        margin: auto;
        padding: 0;
    }
    .todo-item{
        border-radius: 0;
    }
  }